<div class="container">
  <footer class="page-footer  font-small blue">

    <!-- Copyright -->
    <div class="footer-copyright text-center py-3 text-light">
      <span class="text">© 2020 Diseño y Desarrollo:</span>
      <span class="text"> Victor A Prada </a></span>
    </div>
    <!-- Copyright -->

  </footer>
</div>