<div class="container">
    <div class="proyects container-fluid  pt-5 pb-5">

        <div class="container mt-0">
            <div class="row">
                <h2>Proyectos</h2>
            </div>
            <div class="row">
                <div class="underline"></div>
            </div>
        </div>

        <div class="container mt-5">
            <div class="row">
                <div class="col-md-4">
                    <div class="card">
                        <img src="/img/equipo.jpg" class="card-img-top">
                        <div class="card-body">
                            <h5 class="card-title text-center">Card title</h5>
                            <p class="card-text">Some quick example text to build on the card title and make up the bulk
                                of
                                the card's content.</p>
                            <a href="#" class="btn btn-primary ">Go somewhere</a>
                        </div>
                    </div>
                </div>

                <div class="col-md-4">
                    <div class="card">
                        <img src="/img/equipo.jpg" class="card-img-top">
                        <div class="card-body">
                            <h5 class="card-title text-center">Card title</h5>
                            <p class="card-text">Some quick example text to build on the card title and make up the bulk
                                of
                                the card's content.</p>
                            <a href="#" class="btn btn-primary">Go somewhere</a>
                        </div>
                    </div>
                </div>

                <div class="col-md-4">
                    <div class="card">
                        <img src="/img/equipo.jpg" class="card-img-top">
                        <div class="card-body">
                            <h5 class="card-title text-center">Card title</h5>
                            <p class="card-text">Some quick example text to build on the card title and make up the bulk
                                of
                                the card's content.</p>
                            <a href="#" class="btn btn-primary">Go somewhere</a>
                        </div>
                    </div>
                </div>






            </div>
        </div>







    </div>
</div>